@using Microsoft.AspNetCore.Mvc.TagHelpers
@using SFA.DAS.Employer.Profiles.Web.Infrastructure
@model SFA.DAS.GovUK.Auth.Models.StubAuthUserDetails
@{
    Layout = "_Layout";
}

<h1 class="govuk-heading-xl">Stub Authentication - Enter sign in details</h1>
<form method="POST" asp-route="@RouteNames.StubAccountDetailsPost">
    <label asp-for="Id">Id</label>
    <input asp-for="Id"/>
    <label asp-for="Email">Email</label>
    <input asp-for="Email"/>
    <button class="govuk-button" type="submit">Log me in</button>
</form>
